<div>
    <img class="center-image" src="main_logo(b).png" alt="centered image" />
</div>
<br>
<div class="get-started">
    <h1>All your bank accounts in one app</h1>
    <br>
    <p>
        To get started go to your:
        <%= link_to "Account", account_index_path, class: 'btn btn-link' %>
    </p>
</div>
