<div class="card">
  <div class="card-header">
    <h1>Welcome to your Account</h1>
  </div>
  <div class="card-body">
    <p>Choose the bank account to connect</p>
    <%= button_to "Connect to bank", { action: "create_session" }, class: "btn btn-dark" %>
  </div>
</div>
